body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #7142f4; 
}

.navbar {
    background-color: #7142f4 !important; /* para pasar por encima del Bootstrap blue */
    border-bottom: 2px solid #5a2db3; 
}

.nav-link {
    color: white !important;
}

.navbar-brand img {
    height: 40px; /
}

.navbar-toggler {
    border-color: white; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

footer {
    background-color: #7142f4; 
    color: white;
    padding: 10px 0;
}

.image-container img {
    margin: 20px 0; 
    transition: transform 0.3s ease;
    border: 3px solid #D3BCE5; 
    border-radius: 10px; 
}

.image-container img:hover {
    transform: scale(1.05); 
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    border: 5px solid #D3BCE5; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
}

.logo-container img:hover {
    transform: scale(1.1); 
}

header h1 {
    color: #7142f4;
    font-size: 2.5rem;
    margin-top: 20px;
}

header p {
    color: #555;
    font-size: 1.2rem;
    margin-top: 10px;
    line-height: 1.6;
}

.bordered-section {
    border: 2px solid #7142f4; /* Borde del color corporativo */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
}

.text-justify {
    text-align: justify; /* Justificar texto */
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 15px; /* Espaciado interno en celdas */
    text-align: left;
    border: 1px solid #ddd; /* Borde de las celdas */
}

table th {
    background-color: #7142f4; /* Color corporativo */
    color: white;
}

table td {
    background-color: #fff; /* Fondo blanco */
}

img.rounded {
    border-radius: 15px; 
}

img.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.row {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .row {
        flex-direction: column;
    }

    .row .col-md-6 {
        margin-bottom: 20px; 
    }
}
